<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--兼容IE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--比例缩放-->
    <title>NLP-Rocket-项目1</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">    	
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css') }}">
</head>
<div class="title-first">
<h1 align="center">文本自动摘要</h1>
<div>


<div class="input-group">
    <span class="input-group-addon" >Title</span>
    <input type="text" class="form-control" id="my-title" placeholder="输入标题可获取更佳摘要效果" aria-describedby="basic-addon1">
</div> 
<div class="input-group">  
   <span class="input-group-addon" >摘要所占百分比</span>
   <input type="text" class="form-control" id="my-proportion" placeholder="请输入[0,1]间小数" aria-describedby="basic-addon1">
</div>


<body>
<!--左侧展示 -->
<div class="container" >
    <div class="row">  <!--  Bootstrap 网格的基本结构-->
    <div class="col-sm-6">
	<div class="panel panel-default"> <!--按钮所在框-->
		<div class="panel-heading">	<!--设定按钮和所在框间距-->        
        <form class="form-inline"> 
        <div class="row">
            <div class="col-xs-6">
               <input class="my-buttton1" type="reset"  name="" disabled="true" value="请输入文本内容">              
            </div>           
        </div>
		</form>         
		</div>
        
        <div class="text_right"><!--左侧文本框，rows是宽，cols是长-->
			<textarea class="my-input" id="my-input" rows='20' cols='20' ></textarea>
		</div>      		
	</div>
	</div>

	    <div class="col-sm-6">
	    <div class="panel panel-default"> 	
        
        <div class="panel-heading">      
        <form class="form-inline"> 
        <input id="Get-abstract" class="my-buttton" type="reset"  value="生成摘要">    
        </form>
        </div>	
        
        <div class="text_left">	<!--右侧文本框-->
		    <textarea class="form-control" id="my-output" rows='20' cols='10' readonly="true">{{res}}</textarea>
        </div>	           
        
        </div>
        </div>	
    </div>
</div>
<!-- 加载javascript -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='Summarizor.js') }}"></script>
</body>
</html>